* {
    box-sizing: border-box;
}


/*
div {
    border: 1px solid black;
}
*/

body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 37px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 14px;
    margin-top: 14px;
}


img {
    width: 100%;
}

.row {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 200px;
    min-height: 430.09px; /* prevent layout shift when drawing first card */
    column-gap: 20px; /* space for transition */
    margin: 0 auto;
}

.deck {
    width: 200px;
    height: auto;
    position: relative;
    flex-shrink: 0;
}

.card {
    width: 200px;
    height: auto;
}

.card-clickable {
    display: block;
    transition: transform 0.4s ease-in-out;
}

.card-clickable:hover {
    transform: translateY(-40px);
}

.top-card {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: none;
}

.top-card:hover {
    transition: all 0.4s ease-in-out;
    transform: translateY(-40px);
}

.top-card.revealed,
.top-card.leaving {
    transition: all 0.4s ease-in-out;
}

.top-card.revealed .card-inner {
    transform: rotateY(180deg);
}

.top-card.leaving {
    transform-origin: right;
    transform: translateX(200px);
    opacity: 0;
}

.card-stack {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.card-inner {
    position: relative;
    width: 100%;
    height: auto;
    transition: transform 0.6s; /* Control the flip speed */
    transform-style: preserve-3d; /* Keep children in 3D space */
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    /* hide the front of the card to create the two-sides illusion */
}

.card-face.card-front {
    transform: rotateY(180deg);
    /* Initially hide the front face */
}

/* Ensure the `img` inside the new elements has the correct styling */
.card-face img {
    width: 100%;
    display: block;
    /* Prevents unwanted spacing under the image */
}

.card-container {
    width: 200px;
    min-height: 340px; /* prevent layout shift on first draw */
}

.card-container:hover .card {
    transform: translateY(-40px);
    /* lift card */
    /*box-shadow: black 10px 10px;*/
}

.foo{}

.panel {
    background: #f2f2f2;
    border: solid 1px #e6e6e6;
    margin: 0 0 22px 0;
    padding: 20px;
}
