* {
    box-sizing: border-box;
}

div {
    border: 1px solid black;
}

body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 37px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 14px;
    margin-top: 14px;
}


img {
    width: 100%;
}

.row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 40px 200px;
    /* space for transition */
    column-gap: 20px;
    margin: 0 auto;
}

.deck {
    width: 200px;
    position: relative;
}

.card-stack {
    position: absolute;
    z-index: 1;
}
 
.top-card {
    width: 200px;
    position: relative;
    height: auto;
    top: 0;
    left: 0;
    z-index: 2;
    transition: margin 0.1s ease-in-out;
    perspective: 1000px;
}

.deck:hover .top-card {
    margin-top: -40px;
    margin-bottom: +40px;
    /* lift card */
    /*box-shadow: black 10px 10px;*/
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s; /* Control the flip speed */
  transform-style: preserve-3d; /* Keep children in 3D space */
}

.top-card.flipped .card-inner {
  transform: rotateY(180deg); /* Trigger the flip animation */
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* hide the front of the card to create the two-sides illusion */
}

.card-face.card-front {
  transform: rotateY(180deg); /* Initially hide the front face */
}

/* Ensure the `img` inside the new elements has the correct styling */
.card-face img {
  width: 100%;
  display: block; /* Prevents unwanted spacing under the image */
}

.card {
    display: flex;
    width: 200px;
    transition: margin 0.1s ease-in-out;
    /*box-shadow 0.1s ease-in-out;*/
}

.card-container:hover .card {
    margin-top: -40px;
    margin-bottom: +40px;
    /* lift card */
    /*box-shadow: black 10px 10px;*/
}

.panel {
    background: #f2f2f2;
    border: solid 1px #e6e6e6;
    margin: 0 0 22px 0;
    padding: 20px;
}
