* {
    box-sizing: border-box;
}

/* TODO: remove after dev */
div {
    border: 1px solid black;
}

body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 37px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 14px;
    margin-top: 14px;
}


img {
    width: 100%;
}

.card-table {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 40px; /* space for transition */
    padding-left: 140px;
    column-gap: 20px;
    margin: 0 auto;
}

.deck {
    width: 200px;
}

.top-card {
    width: 200px;
    position: relative;
    right: 220px;
    transition: margin 0.2s ease-in-out;
}

.top-card:hover {
    margin-top: -40px; /* lift card */
    /*box-shadow: black 10px 10px;*/
}

.card {
    display: flex;
    width: 200px;
    transition: margin 0.2s ease-in-out;
    /*box-shadow 0.2s ease-in-out;*/
}

.card:hover {
    margin-top: -40px; /* lift card */
    /*box-shadow: black 10px 10px;*/
}

.panel {
    background: #f2f2f2;
    border: 1px solid rgb(236, 240, 241);
    margin: 0 0 22px 0;
    padding: 20px;
}

.row {
    margin: 0 200px;
}
