* {
  box-sizing: border-box;
  color: #333;
}

h1 {
  margin-left: 2%;
}

/* TODO: remove after dev */
div {
  border: 1px solid black;
}

body {
  background-color: #dfdbe5;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

img {
  width: 100%;
}

.reading-table {
  display: flex;
  justify-content: flex-start;
  margin-top: 10%;
  margin-right: 25%;
  margin-left: 5%;
  column-gap: 20px;
}

.btn {
}

.card {
  width: 200px;
}
