* {
    box-sizing: border-box;
}

/* TODO: remove after dev */
div {
    border: 1px solid black;
}

body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 37px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 14px;
    margin-top: 14px;
}


img {
    width: 100%;
}

.card-table {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 40px; /* space for transition */
    column-gap: 20px;
    margin: 0 auto;
}

.deck {
    width: 200px;
}

.card {
    display: flex;
    width: 200px;
    object-fit: contain;
    transition: margin 0.2s ease-in-out;
    /*box-shadow 0.2s ease-in-out;*/
}

.card:hover {
    margin-top: -40px; /* lift card */
    /*box-shadow: black 10px 10px;*/
}

.button-65 {
    appearance: none;
    backface-visibility: hidden;
    background-color: #2f80ed;
    border-radius: 10px;
    border-style: none;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 14px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}

.button-65:hover {
    background-color: #1366d6;
    box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.button-65:hover:after {
    opacity: .5;
}

.button-65:active {
    box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
    transform: translateY(2px);
    transition-duration: .35s;
}

.panel {
    background: #f2f2f2;
    border: 1px solid rgb(236, 240, 241);
    margin: 0 0 22px 0;
    padding: 20px;
}
