* {
    box-sizing: border-box;
}

/*
div {
    border: 1px solid black;
}
*/

body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 37px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 14px;
    margin-top: 14px;
}


img {
    width: 100%;
}

.row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 40px 200px;
    /* space for transition */
    column-gap: 20px;
    margin: 0 auto;
}

.deck {
    width: 200px;
    position: relative;
}

.deck-cards {
    position: absolute;
    z-index: 1;
}

.deck-top {
    width: 200px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    transition: margin 0.1s ease-in-out;
}

.deck:hover .deck-top {
    margin-top: -40px;
    margin-bottom: +40px;
    /* lift card */
    /*box-shadow: black 10px 10px;*/
}

.card {
    display: flex;
    width: 200px;
    transition: margin 0.1s ease-in-out;
    /*box-shadow 0.1s ease-in-out;*/
}

.card-container:hover .card {
    margin-top: -40px;
    margin-bottom: +40px;
    /* lift card */
    /*box-shadow: black 10px 10px;*/
}

.panel {
    background: #f2f2f2;
    border: 1px solid rgb(236, 240, 241);
    margin: 0 0 22px 0;
    padding: 20px;
}
